@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import './app.css';
html, body, #root { min-width: 320px; min-height: 100%; margin: 0; }
body { min-height: 100vh; }
